spring:
  datasource:
    url: jdbc:h2:mem:space;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  graphql:
    graphiql:
      enabled: true

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
    path: /swagger-ui.html

logging:
  level:
    com.example.space: INFO
